.gensys-footer {
    background-color: #91b7d1;
    font-family: 'Inter', sans-serif !important;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

/* Social Section */
.social-section {
    position: absolute;
    left: 0;
    padding-left: 20px;
    text-align: left;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

/* Centered Logo */
.footer-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    height: 80px;
    width: auto;
}
